@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css" ;


body {

   
    font-family:'Raleway',sans-serif;
    background-color: mintcream;
    
    
}
nav {
    margin:2rem;
    display:flex;
    justify-content : space-between ;

}


#blog {

    display:flex;
    flex-direction: column;
    align-items :center ;
    margin-top:5rem ;
}


#blog article{

width:50%;
margin-top :5rem;

}

@media (max-width: 1024px){
    #blog article{
    width:50%;
    margin-top :5rem;

    
}
}

.post_title {
    display:flex;
    align-items: center;
}

.post_title a{

    color : steelblue;
    text-decoration : none ;
    margin-left: .5rem;
}


.post_title a:last-child{

    color :red ;
    
}

.post_title > div {
        margin-left: auto;

}

.post_author {

    margin : .5rem 0;
}

.post-excerpt{
    margin-bottom: 1rem;
}

.post_detail {
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.post_detail > h1{

    text-transform: uppercase;
    margin-bottom: 1rem;
}

input,textarea {

    display :block ;
    padding: .75rem;
    line-height : 1.5 ;
    font-size :1rem;
    border : 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 688px;


}

label {

    display:inline-block;
    margin:1rem 0;
    margin :1rem 0;

}

.btn {
    padding:1rem;
    border :none;
    font-weight : 600;
    font-size:1.25rem;
    border-radius: .3rem;
    color :white;
    width:100%;
    margin-top: 1rem;
    cursor : pointer ;

}

.btn-submit{
    background-color: steelblue;
}

.btn-delete{
    background-color: indianred;
}